<ng-template>
  <div class="card">
    <div class="card-header">
      Import Orders
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="d-flex justify-content-between">

          <div>1. Find Order</div>
          <div>2. Prepare Products</div>
          <div>3. Confirm Order</div>
        </div>
      </h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
